.contact {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto 75px;
}

.contents {
  max-width: 480px;
  height: 435px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}