.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto 75px;
}

.links {
  font-size: 20px;
  width: 100%;
  margin-bottom: 45px;
}